.summary {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: (213, 209, 214);
    font-size: larger;    
  }
  .news-summary ul {
    list-style-type: none;
    padding: 0;
  }
  .news-summary .article-item {
    margin-bottom: 10px;
  }